<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.heartof.springWeb_01.sql.mybatis.LoginMapper">
	<select id="isLogin" resultType="kr.heartof.springWeb_01.vo.user.UserVO" parameterType="kr.heartof.springWeb_01.vo.user.UserVO">
		SELECT 
			USR_NO, USRID, EMAIL, TELNO, ZIPNO, ADDRESS, REG_DATE,
			USR_CD, CRE_DEG_CD 
		FROM USR 
		WHERE 
			EMAIL = #{USRID} and PASSWD = #{PASSWD}
	</select>
	
	<insert id="joinUser" parameterType="kr.heartof.springWeb_01.vo.user.UserVO">
		INSERT INTO USR
			(USRID, EMAIL, TELNO, ZIPNO, ADDRESS, REG_DATE,
			USR_CD, CRE_DEG_CD) VALUES (
				,#{USRID}, #{EMAIL}, #{TELNO},
				#{ZIPNO}, #{ADDRESS}, NOW(),
				#{USR_CD}, 
			);
		<selectKey keyProperty="USR_NO" resultType="Integer" order="AFTER">
        	SELECT LAST_INSERT_ID()
    	</selectKey>	
	</insert>
	
	<insert id="joinCompanyUser" parameterType="kr.heartof.springWeb_01.vo.user.CompanyUserVO">
		INSERT INTO COM_USR
			(
			USR_NO, COM_NM, BUS_NO, CEO_NM, CHG_NM ) VALUES (
				#{USR_NO}, #{COM_NM}, #{BUS_NO},
				#{CEO_NM}, #{CHG_NM}
			);
	</insert>
	
	<insert id="joinPrivateUser" parameterType="kr.heartof.springWeb_01.vo.user.PrivateUserVO">
		INSERT INTO PR_USR
			(USR_NO, NM, SOCIAL_NO) VALUES (
				#{USR_NO}, #{NM}, #{SOCIAL_NO}
			);
	</insert>
</mapper>